.sidebar {
  &__container {
    position: fixed;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: var(--gray-3);
    border-right: 1px solid var(--gray-1);
    overflow-y: auto;
  }

  &__group {
    width: 300px;
    padding: 0 1rem;
  }
}
